.header__link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  line-height: 1em;
  padding: 8px 8px 8px 30px;
  display: inline-block;
  border-radius: 4px;
  background: rgb(122, 122, 122);
  position: relative;
}

.header__link:before,
.header__link:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transition: left 0.3s ease;
}

.header__link:before {
  left: 10px;
  width: 8px;
  height: 8px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  transform: translateY(-50%) rotate(45deg);
}

.header__link:after {
  left: 10px;
  width: 14px;
  height: 3px;
  background: white;
  transform: translateY(-50%);
}

.header__link:hover:after {
  left: 6px;
}

.header__link:hover:before {
  left: 5px;
}

.detail_wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 0 40px 0;
}

.detail__text {
  font-size: 14px;
  line-height: 1em;
  margin: 0 0 20px 0;
}

.detail__description {
  display: flex;
}

.detail__figure {
  display: block;
  width: 300px;
  height: auto;
  margin: 0 20px 0 0;
}

.detail__overview {
  font-size: 18px;
  line-height: 1.3em;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 300;
}

.detail__figure__figcaption {
  font-size: 14px;
  text-align: left;
  padding: 5px 5px 5px 10px;
  margin: 10px 0 0 0;
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}
