.header {
  padding: 50px 0;
  background: gray;
  margin: 0 0 30px;
  text-align: center;
  color: white;
  background: url("/imgs/the-boys-header.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.header:before,
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header:before {
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  z-index: 3;
}

.header:after {
  background: -moz-linear-gradient(
    -45deg,
    rgba(169, 3, 41, 0) 0%,
    rgba(143, 2, 34, 0.44) 44%,
    rgba(109, 0, 25, 1) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(169, 3, 41, 0) 0%,
    rgba(143, 2, 34, 0.44) 44%,
    rgba(109, 0, 25, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(169, 3, 41, 0) 0%,
    rgba(143, 2, 34, 0.44) 44%,
    rgba(109, 0, 25, 1) 100%
  );
  z-index: 2;
}

.header__wrapper {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 10;
}

.header__title,
.header__highlight {
  width: 100%;
}

.header__title {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.9px;
  margin: 0 0 16px 0;
}

.header__highlight {
  font-size: 22px;
  margin: 0 0 50px;
  font-weight: 300;
}

.background_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: auto;
  opacity: 0;
  animation: backgroundAppear 0.3s 0s ease forwards;
}

@keyframes backgroundAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
