.movie_list {
  max-width: 900px;
  margin: 0 auto;
  font-size: 0;
}

.movie_list__li {
  display: inline-block;
  vertical-align: top;
  margin: 0 1.333% 10px 0;
  width: 24%;
}

.movie_list__li:nth-child(4n) {
  margin-right: 0;
}

.movie_list__li img {
  display: block;
  width: 100%;
  height: auto;
}
